In [3]:
my.character <- c("a", "b", "c", "d", "e")
my.number <- c(1, 2, 3, 4, 5, 6)
toupper (my.character)
class (my.number)
class (my.character)

[1] "A" "B" "C" "D" "E"

[1] "numeric"

[1] "character"

In [1]:
i <- 1
count <- 0
while (i <= 100){
    if (i%%3 == 0){ 
        count <- count + 1
        print(i)
    } 
    i <- i+1
}
count

[1] 3
[1] 6
[1] 9
[1] 12
[1] 15
[1] 18
[1] 21
[1] 24
[1] 27
[1] 30
[1] 33
[1] 36
[1] 39
[1] 42
[1] 45
[1] 48
[1] 51
[1] 54
[1] 57
[1] 60
[1] 63
[1] 66
[1] 69
[1] 72
[1] 75
[1] 78
[1] 81
[1] 84
[1] 87
[1] 90
[1] 93
[1] 96
[1] 99

[1] 33