In [1]:
getwd()

[1] "/Users/yinyiming/Applied-Bioinformatics-HW/Unit1-module2-R"

In [5]:
my.number <- c(1,2,3,4,5)
my.number

[1] 1 2 3 4 5

In [6]:
my.matrix <- matrix(1:100, nrow=10, ncol=10)
my.matrix

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1   11   21   31   41   51   61   71   81    91
 [2,]  2   12   22   32   42   52   62   72   82    92
 [3,]  3   13   23   33   43   53   63   73   83    93
 [4,]  4   14   24   34   44   54   64   74   84    94
 [5,]  5   15   25   35   45   55   65   75   85    95
 [6,]  6   16   26   36   46   56   66   76   86    96
 [7,]  7   17   27   37   47   57   67   77   87    97
 [8,]  8   18   28   38   48   58   68   78   88    98
 [9,]  9   19   29   39   49   59   69   79   89    99
[10,] 10   20   30   40   50   60   70   80   90   100

In [28]:
animal.name <- c("Fluf1", "Fluf2", "Fluf3", "Fluf4", "Fluf5", "Fluf6", "Fluf7", "Fluf8")
animal.number <- c(7103,7104,7105,7106,7107,7108,7109,7110)
animal.weight <- c(19,18,23,22,17,18,21,20)
animal.treated <- c(TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE)
animal.gender <- c("Female", "Female", "Male", "Male", "Female", "Female", "Male", "Male")
df.animal <- data.frame(animal.name, animal.number, animal.weight, animal.treated, animal.gender)
df.animal

  animal.name animal.number animal.weight animal.treated animal.gender
1 Fluf1       7103          19             TRUE          Female
2 Fluf2       7104          18             TRUE          Female
3 Fluf3       7105          23            FALSE          Male
4 Fluf4       7106          22            FALSE          Male
5 Fluf5       7107          17             TRUE          Female
6 Fluf6       7108          18            FALSE          Female
7 Fluf7       7109          21             TRUE          Male
8 Fluf8       7110          20            FALSE          Male

In [31]:
names(df.animal) <- c("name","number","weight","treated","gender")
df.animal

  name  number weight treated gender
1 Fluf1 7103   19      TRUE   Female
2 Fluf2 7104   18      TRUE   Female
3 Fluf3 7105   23     FALSE   Male
4 Fluf4 7106   22     FALSE   Male
5 Fluf5 7107   17      TRUE   Female
6 Fluf6 7108   18     FALSE   Female
7 Fluf7 7109   21      TRUE   Male
8 Fluf8 7110   20     FALSE   Male

In [33]:
gender <- c("Female", "Female", "Male", "Male", "Female", "Female", "Male", "Male")
gender <- factor(gender)
summary(gender)

Female   Male
     4      4